*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.flexbox{
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 768px;
    height: 100vh;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;
}

.flexbox .board{
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 50px;
    max-width: 300px;
    background-color: white;
    padding: 15px;
    box-shadow: 3px 7px 9px rgba(26, 26, 26, 0.658);
}

.flexbox .board .card{
    padding: 15px 25px;
    background-color: #f3f3f3;

    cursor: pointer;
    margin-bottom: 15px;
}